{##
 # /views/layout.twig
 #}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Search screen</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="stylesheets/style.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="javascripts/jquery-3.1.1.min.js"></script>
        <script src="javascripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>	 